<p id="notice"><%= notice %></p>



<table>
  <thead>
    <tr>
     
    </tr>
  </thead>

  <tbody>

    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to "#{post.title}", post %></td>
      </tr>
      <tr>
       <td> <%= published(post.date) %> </td>
       </tr>
       <tr>
       <td> <%= truncate(post.content) %> </td>
       </tr>
    <% end %>
  </tbody>
</table>

<br>


